<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TechTitans</display-name>
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Control</display-name>
    <servlet-name>Control</servlet-name>
    <servlet-class>controller.Control</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Control</servlet-name>
    <url-pattern>/Control</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Search</display-name>
    <servlet-name>Search</servlet-name>
    <servlet-class>controller1.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contr</display-name>
    <servlet-name>Contr</servlet-name>
    <servlet-class>controller.Contr</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contr</servlet-name>
    <url-pattern>/Contr</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Controll</display-name>
    <servlet-name>Controll</servlet-name>
    <servlet-class>controller.Controll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controll</servlet-name>
    <url-pattern>/Controll</url-pattern>
  </servlet-mapping>
</web-app>